@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Raleway&display=swap');

.mainWrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas:
            "header header"
            "main main";
    z-index: 2;
    position: relative;
}
.mainHeader{
    grid-area: header;
    text-align: center;
    justify-self: center;
    color: whitesmoke;
    font-family: "Lucida Sans";
    font-size: 25px;
    z-index: 2;
}
.mainHeader ul>a>li{
    display: inline-grid;
    margin: 10px;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    border-radius: 15px;
    padding: 10px;
}
.mainHeader a {
    margin: 5px;
    text-decoration: none;
    color: #07e8ff;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 15px #07e8ff;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.mainContent{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    align-items: center;
    justify-items: center;
    z-index: 2;
}
.profileName {
    text-align: center;
    font-size: 50px;
    align-self: center;
    color: #FFFFFF;
    font-family: "Lucida Sans";
    padding: 50px;
}
.profileName span{
    font-size: 50px;
    position: relative;
    display: inline-block;
    z-index: 0;
}
.profileName span:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    z-index: -1;
    background: aqua;
}
.profileImg {
    position: relative;
    height: 400px;
    z-index: 0;
}

.avatarImg {
    height: inherit;
    width: auto;
    box-shadow: 0 1px 4px rgba(21, 238, 142, 0.6),
                -23px 0 20px -23px rgba(33, 200, 184, 0.8),
                23px 0 20px -23px rgba(50, 201, 98, 0.8),
                0 0 40px rgba(255, 0, 0, 0.5) inset;
}
.profileImg span{
    position: absolute;
    left: 10px;
    top: 15px;
    bottom: 0;
    height: inherit;
    width: 100%;
    z-index: -1;
    border: 5px solid lightseagreen;
    right: 190px;
}

@media screen and (max-width: 1000px) {
    .mainWrapper {
        height: auto;
        width: 100%;
    }

    .profileImg {
        position: relative;
        height: 300px;
        margin-bottom: 90px;
    }
}
@media screen and (max-width: 800px){
    .mainHeader ul>a>li{
        font-size: 16px;
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    }
    .mainContent{
        align-items: start;
        grid-template-rows: auto 1fr;
    }
    .profileImg {
        position: relative;
        height: 300px;
    }
    .profileName {
        font-size: 30px;
        padding: 0;
    }
    .profileName span{
        font-size: 45px;
    }

}
@media screen and (max-width: 540px){
    .mainHeader ul>a>li{
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 420px) {
    .mainWrapper {
        height: 100vh;
        width: 100%;
        background-color: black;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
                "header"
                "main"
    }
    .mainHeader{
        grid-area: header;
        text-align: center;
        color: whitesmoke;
        font-family: "Lucida Sans";
        font-size: 15px;
    }
    .mainHeader ul {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
        justify-self: center;
        align-self: center;
        padding: 0;
        margin: 10px;
        border: 1px solid #ffffff66;
        border-radius: 20px;
        grid-auto-flow: column;
    }
    .mainHeader ul>li{
        font-size: 16px;
        margin: 10px;
        padding: 0;
    }
    .mainContent{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        position: relative;
        grid-area: main;
        justify-items: center;
        align-items: center;
    }
    .profileName {
        text-align: center;
        font-size: 40px;
        align-self: center;
        color: #FFFFFF;
        font-family: 'EB Garamond', serif;
    }
    .profileName span{
        font-size: 30px;
    }
    .profileName span:after{
        height: 11px;
        width: auto;
    }
    .profileImg {
        position: relative;
        height: 300px;
    }
    .profileImg span{
        position: absolute;
        left: 0;
        height: inherit;
        width: 100%;
        background-color: aqua;
        z-index: -1;
        opacity: 0.7;
        transform: rotate(9deg);
        border: none;
    }
    .profileImg span:after{
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: red;
        z-index: 1;
        opacity: 0.7;
        transform: rotate(-14deg);
    }
    .profileImg span:before{
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: green;
        z-index: 2;
        opacity: 0.7;
        transform: rotate(-3deg);
    }
    .avatarImg {
        width: auto;
        height: 300px;
    }
}
