.mainWrapper {
    height: 100vh;
    background-color: #1F1F20;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: auto;
    grid-template-areas:
            "header header"
            "main main"
}
.mainHeader{
    grid-area: header;
    text-align: center;
    color: whitesmoke;
    font-family: "Lucida Sans";
    font-size: 20px;
}
.mainHeader ul>li{
    display: inline;
    margin: 10px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
}
.mainHeader ul {
    margin: 15px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.mainContent{
    width: 90vw;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.profileName {
    text-align: center;
    font-size: 50px;
    align-self: center;
    color: #FFFFFF;
    font-family: "Lucida Sans";
}
.profileName span{
    font-size: 50px;
    position: relative;
    display: inline-block;
}
.profileName span:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    z-index: -1;
    background: aqua;
}
.profileImg {
    margin: 0 auto;
}

.avatarImg {
    height: 50vh;
    border: 5px solid black;
}
.profileImg span{
    position: absolute;
    top: -15px;
    bottom: 0;
    height: 103%;
    width: 20%;
    z-index: -1;
    border: 5px solid lightseagreen;
    right: 190px;
}