.mainWrapper {
    height: 100vh;
    width: 100%;
    background-color: #1F1F20;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: auto;
    grid-template-areas:
            "header header"
            "main main"
}
.mainHeader{
    grid-area: header;
    text-align: center;
    justify-self: center;
    color: whitesmoke;
    font-family: "Lucida Sans";
    font-size: 25px;
}
.mainHeader ul>li{
    display: inline;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}
.mainHeader ul{
    border: 2px solid black;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.mainContent{
    width: 90vw;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profileName {
    text-align: center;
    font-size: 50px;
    align-self: center;
    color: #FFFFFF;
    font-family: "Lucida Sans";
}
.profileName span{
    font-size: 50px;
    position: relative;
    display: inline-block;
}
.profileName span:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    z-index: -1;
    background: aqua;
}
.profileImg {
    margin: 0 auto;
    position: relative;
    height: 400px;
}

.avatarImg {
    height: inherit;
    width: auto;
    border: 5px solid black;
}
.profileImg span{
    position: absolute;
    left: 10px;
    top: 15px;
    bottom: 0;
    height: inherit;
    width: 100%;
    z-index: -1;
    border: 5px solid lightseagreen;
    right: 190px;
}

@media screen and (max-width: 600px) {
    .mainWrapper {
        height: 100vh;
        width: 100%;
        background-color: #1F1F20;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
                "header"
                "main"
    }
    .mainHeader{
        width: 100vw;
        grid-area: header;
        text-align: center;
        color: whitesmoke;
        font-family: "Lucida Sans";
        font-size: 20px;
    }
    .mainHeader ul {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto;
        justify-self: center;
        align-self: center;
        padding: 0;
        margin: 10px;
        grid-auto-flow: column;
    }
    .mainHeader ul>li{
        font-size: 20px;
        margin: 10px;
        padding: 0;
    }
    .mainContent{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        position: relative;
        width: 90vw;
        grid-area: main;
        justify-items: center;
        align-items: center;
    }
    .profileName {
        text-align: center;
        font-size: 30px;
        align-self: center;
        color: #FFFFFF;
        font-family: "Lucida Sans";
    }
    .profileName span{
        font-size: 30px;
    }
    .profileName span:after{
        height: 13px;
        width: auto;
    }
    .profileImg {
        margin: 0 auto;
        position: relative;
        height: 300px;
    }
    .profileImg span{
        position: absolute;
        left: 0;
        height: inherit;
        width: 100%;
        background-color: aqua;
        z-index: -1;
        opacity: 0.7;
        transform: rotate(9deg);
        border: none;
    }
    .profileImg span:after{
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: red;
        z-index: 1;
        opacity: 0.7;
        transform: rotate(7deg);
    }
    .profileImg span:before{
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: green;
        z-index: 2;
        opacity: 0.7;
        transform: rotate(12deg);
    }
    .avatarImg {
        width: auto;
        height: 300px;
        border: 5px solid black;
    }
}