
.mainWrapper {
    height: auto;
    background-color: black;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    font-family: "Lucida Sans";
}
.mainContainer{
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    margin: 50px 0;
    grid-gap: 50px;
}
.myWorksContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 50px;
}
.myWorks {
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
}
.project{
    display: grid;
    grid-template-rows: auto 1fr;
}
.myWorksSlide{
    position: relative;
    filter: blur(5px);
}
.myWorksSlideClick{
    top: 35%;
    width: 230px;
    height: 60px;
    left: calc(50% - 115px);
    font-size: 18px;
    background-color: #01010173;
    position: absolute;
}

.myWorksSlide img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 1px 4px rgba(21, 238, 142, 0.6),
    -23px 0 20px -23px rgba(33, 200, 184, 0.8),
    23px 0 20px -23px rgba(50, 201, 98, 0.8),
    0 0 40px rgba(255, 0, 0, 0.5) inset;
}

.myWorksSlide:hover{
    filter: none;
}
.myWorksUnderSlide{
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.myWorksUnderSlide p{
    background-color: #9995AE;
}

@media screen and (max-width: 350px){
    .mainContainer {
        margin: 50px 10px;
    }
    .myWorksContainer {
        grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    }
}