button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid aquamarine;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
    background-color: transparent;
}
button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0,0,0,0);
    transition: .4s;
}
button:hover:after {
    border-color: aquamarine;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}
.mainWrapper {
    height: auto;
    background-color: #1F1F20;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    font-family: "Lucida Sans";
}
.mainContainer{
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    margin: 50px 0;
    grid-gap: 50px;
}
.myWorksContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 50px;
}
.myWorks {
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
}
.project{
    display: grid;
    grid-template-rows: auto 1fr;
}
.myWorksSlide{

    position: relative;
}
.myWorksSlideClick{
    top: 50%;
    width: 150px;
    height: 60px;
    left: calc(50% - 75px);
    font-size: 18px;
    background-color: black;
    opacity: 0.5;
}

.myWorksSlide img{
    filter: blur(5px);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 1px 4px rgba(21, 238, 142, 0.6),
                -23px 0 20px -23px rgba(33, 200, 184, 0.8),
                23px 0 20px -23px rgba(50, 201, 98, 0.8),
                0 0 40px rgba(255, 0, 0, 0.5) inset;
}

.myWorksSlide img:hover{
    filter: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.myWorksUnderSlide{
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.myWorksUnderSlide p{
    background-color: #9995AE;
}

@media screen and (max-width: 350px){
    .mainContainer {
        margin: 50px 10px;
    }
    .myWorksContainer {
        grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    }
}